<svg class="svg-sprite" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <symbol id="i-arrow" viewBox="0 0 24 24"><path d="M5 12h14m-6-6 6 6-6 6"/></symbol>
  <symbol id="i-globe" viewBox="0 0 24 24"><circle cx="12" cy="12" r="9"/><path d="M3 12h18M12 3c-5 5-5 13 0 18 5-5 5-13 0-18"/></symbol>
  <symbol id="i-github" viewBox="0 0 24 24"><path fill="currentColor" stroke="none" d="M12 2a10 10 0 0 0-3.16 19.49c.5.09.68-.22.68-.48v-1.87c-2.78.61-3.37-1.18-3.37-1.18-.45-1.16-1.11-1.47-1.11-1.47-.91-.62.07-.61.07-.61 1 .07 1.53 1.03 1.53 1.03.89 1.53 2.34 1.09 2.91.83.09-.65.35-1.09.64-1.34-2.22-.25-4.56-1.11-4.56-4.94 0-1.09.39-1.99 1.03-2.69-.1-.25-.45-1.27.1-2.65 0 0 .84-.27 2.75 1.03a9.6 9.6 0 0 1 5 0c1.91-1.3 2.75-1.03 2.75-1.03.55 1.38.2 2.4.1 2.65.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85v2.77c0 .27.18.58.69.48A10 10 0 0 0 12 2Z"/></symbol>
</svg>
<a class="skip-link" href="#main">{{t:nav.skip}}</a>

<header id="top" class="masthead">
  <div class="container header-inner">
    <a class="brand" href="{{home}}"><img src="{{root}}assets/mark.svg?v={{v}}" alt="" width="30" height="30"><span>PecoFence<span class="brand-dot">.</span></span></a>
    <nav class="primary-nav" aria-label="PecoFence">
      <a href="{{manual}}"{{manual_current}}>{{t:nav.manual}}</a>
      <a class="nav-github" href="{{repository}}"><svg class="icon" aria-hidden="true"><use href="#i-github"/></svg>{{t:nav.github}}</a>
    </nav>
    <div class="header-actions">
      <label class="lang">
        <span class="visually-hidden">{{t:nav.language}}</span>
        <svg class="icon" aria-hidden="true"><use href="#i-globe"/></svg>
        <select id="language-select">
{{language_options}}
        </select>
      </label>
      <a class="button button-small" href="{{home}}#download">{{t:nav.download}}<svg class="icon" aria-hidden="true"><use href="#i-arrow"/></svg></a>
    </div>
  </div>
</header>
